@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Offerte Generator</h1>
    <p class="lead">De OfferteGenerator berekent de globale kostprijs van een project.</p>
    <p><a href="@Url.Action("Articles", "Home")" class="btn btn-primary btn-lg">Bekijk Artikelen &raquo;</a></p>
</div>